@media only screen and (min-width:1024px){
	.gh-wrapper{
		max-width: 1000px;
	}
}


//当屏幕的宽度尺寸大于768px时 执行的样式
@media only screen and (min-width: 768px) and (max-width:1024px){
 	.gh-wrapper{
 		width: 720px;
 	}
 	.gh-header{
 		.gh-right-sidebar{
 			margin: 0 2em;
 		}
 		.gh-menu{
 			margin: 0 10%;
 		 	padding:0;
 		 	text-indent: 0.2em;
 		}
 	}
 		.gh-header .gh-main-logo{
 			position: relative;
 			display: block;
 			margin: 0 auto;
 		}
 		.gh-carousel .desc-text{
 			font-size: .5em;
 			//padding: 0 1em;
 			box-sizing:border-box;
 		}
 		//gh-flights-booking
 		.gh-flights-booking{
 			margin-top: 0;
 			.fb-title{
 				text-indent: 5%;
 			}
 			.fb-choose{
 				.fb-item-first,.fb-item,.fb-item-last{
 					.clearfix();
 					width: auto;
 					float: none;
 					padding: 0 5%;
 				}
 				.fb-item{
 					.choose-box{
 					}
 				}
 				.fb-item-last{
 					margin-top: 2em;
 				}
 			}
 			.fb-choose-icon{
 				.fb-icon-choose-item{
 					width: 50%;
 					margin: 0.5em 0;
 					.box{
 						width: 240px;
 						margin: 0 auto;
 					}
 				}
 			}
 		}
 	
 		.gh-about-estimation{
 			width: 100%;
 		}
 		.gh-check-status-box{
 			width: 50%;
 		}
 	
 		//event
 		.gh-events{
 			margin: 0;
 		}
 		.events-item{
 			width: 50%;
 			// .box{
 			// 	margin: 0;
 			// }
 		}
 	
 		//top client
 		.gh-top-client{
 			ul{
 				li{
 					width: 33.333%;
 					margin: 0.5em 0;
 				}
 			}
 		}
 		//contact
 		.gh-index-contact{
 			.ic-item{
 				///float: none;
 				width: 50%;
 				margin: 1em 0;
 				.box,.box1{
 					//margin: 0;
 					.logo{
 						display: block;
 						width: 80%;
 						margin: 0 auto;
 					}
 				}
 			}
 		}
 		//页脚
 		.gh-footer{
 			.f-item{
 				//float: none;
 				width: 40%;
 				margin: 0 5%;
 				margin-bottom: 1em;
 			}
 			.gh-footer-footer{
 				.copyright{
 					float: none;
 				}
 			}
 			.gh-fr{
 				float: none;
 				margin: 0 1em;
 			}
 		}
 }




// 宽度大于480px小于等于767px*********************************************************************************************************
@media only screen and (min-width: 480px) and (max-width: 768px) {
	.gh-wrapper{
		width: 480px;
	}
 	.gh-header{
 		.gh-right-sidebar{
 			margin: 0 2em;
 		}
 		.gh-menu{
 			margin: 0 10%;
	 		padding:0;
	 		text-indent: 0.2em;
 		}
 	}

	.gh-header .gh-main-logo{
		position: relative;
		display: block;
		//margin: 0 auto;
	}

	.gh-carousel .desc-text{
		font-size: .5em;
		//padding: 0 1em;
		box-sizing:border-box;
	}

	//gh-flights-booking
	.gh-flights-booking{
		margin-top: 0;
		.fb-title{
			text-indent: 5%;
		}
		.fb-choose{
			.fb-item-first,.fb-item,.fb-item-last{
				.clearfix();
				width: auto;
				float: none;
				padding: 0 5%;
			}
			.fb-item{
				.choose-box{
				}
			}
			.fb-item-last{
				margin-top: 2em;
			}
		}
		.fb-choose-icon{
			margin: 0;
			.fb-icon-choose-item{
				width: 50%;
				margin: 0.5em 0;
				.box{
					width: 220px;
					margin: 0 auto;
					.icon-box{
						width: 220px;
					}
					.desc{
						width: 220px;
					}
				}
			}
		}
	}

	.gh-about-estimation{
		width: 100%;
	}
	.gh-check-status-box{
		width: 50%;
		.box{
			margin: 0 2em 0 0;
		}
	}

	//event
	.gh-events{
		margin: 0;
	}
	.events-item{
		width: 50%;
		// .box{
		// 	margin: 0;
		// }
	}
	//follow
	.gh-index-follow{
		.follow-item{
			// display: block;
			// float: left;
			// width: 33.333%;
		}
	}

	//top client
	.gh-top-client{
		ul{
			li{
				width: 33.333%;
				margin: 0.5em 0;
			}
		}
	}
	//contact
	.gh-index-contact{
		.ic-item{
			///float: none;
			width: 50%;
			margin: 1em 0;
			.box,.box1{
				//margin: 0;
				.logo{
					display: block;
					width: 80%;
					margin: 0 auto;
				}
			}
		}
	}

	//页脚
	.gh-footer{
		.f-item{
			//float: none;
			width: 40%;
			margin: 0 5%;
			margin-bottom: 1em;
		}
		.gh-footer-footer{
			.copyright{
				float: none;
			}
		}
		.gh-fr{
			float: none;
			margin: 0 1em;
		}
	}
}

// 宽度大于480px小于等于767px*********************************************************************************************************


@media only screen and (min-width: 320px) and (max-width: 480px),(max-width: 320px) {
	.gh-wrapper{
		width: 100%;
		max-width: 290px;
	}
	.gh-index-item{
		margin: 0 auto;
	}
	.gh-header{
		.gh-main-logo{
			width: 80%;

		}
		.gh-menu-list{
			.menu-item{
				width: 100%;
			}
		}
	}
	.gh-carousel .desc-text{
		font-size: .2em;
		padding: 0 1em;
		box-sizing:border-box;
	}

	//gh-flights-booking
	.gh-flights-booking{
		margin-top: 0;
		.fb-title{
			text-indent: 5%;
		}
		.fb-choose{
			.fb-item-first,.fb-item,.fb-item-last{
				width: auto;
				float: none;
				padding: 0 5%;
			}
			.fb-item{
				.choose-box{
					width: auto;
					float: none;
				}
			}
			.fb-item-last{
				margin-top: 2em;
			}
		}
		.fb-choose-icon{
			margin: 0 5%;
			.fb-icon-choose-item{
				width: auto;
				float: none;
				margin: 0.5em 0;
				.box{
					width: 240px;
					margin: 0 auto;
					.icon-box{
						width: 240px;
					}
					.desc{
						width: 240px;
					}
				}
			}
		}
	}
	//gh-about
	.gh-about-estimation,
	.gh-check-status-box{
		float: none;
		width: auto;
		.box{
			margin: 0;
		}
	}

	//event
	.gh-events{
		margin: 0;
	}
	.events-item{
		float: none;
		width: auto;
		.box{
			margin: 0;
		}
	}

	//top client 
	.gh-top-client{
		ul{
			li{
				width: 50%;
				margin: 0.5em 0;
			}
		}
	}
	//contact
	.gh-index-contact{
		.ic-item{
			float: none;
			width: auto;
			margin: 1em 0;
			.box,.box1{
				margin: 0;
				.logo{
					display: block;
					width: 80%;
					margin: 0 auto;
				}
			}
		}
	}

	//页脚
	.gh-footer{
		.f-item{
			float: none;
			width: 290px;
			margin: 0 auto;
			margin-bottom: 1em;
		}
		.gh-footer-footer{
			.copyright{
				float: none;
			}
		}
			.gh-fr{
				float: none;
				margin: 0 1em;
			}
		}
}

//select 选择框***************************************************************************
@media only screen and (max-width: 767px) {
	.gh-header{
		.gh-main-logo{
			position: relative;
			display: block;
			margin: 1em auto;
		}
 		.gh-menu-list{
 			display: none;
 		}
		.gh-menu{
			min-height: 62px;
			padding: 0;
		}
 		.sticky-wrapper{
 			display: block;
 		}
	}
}
@media only screen and (min-width: 767px) {
	.gh-header{
 		.gh-menu-list{
 			display: block;
 		}
 		.sticky-wrapper{
 			display: none;
 		}
	}
}
//select 选择框***************************************************************************
