.gh-carousel{
	.img-item{
		height: 550px;
	}
	.slide-bac1{
		background-image: url(../img/top01.jpg); 
	}

	.slide-bac2{
		background-image: url(../img/top02.jpg); 		
	}

	.gh-am-left, .gh-am-right{
		opacity: 0;
	}

	/* img{
		.img-responsive();
	} */
	.img-item{
		position: relative;
	}
	.desc-text{
		position: absolute;
		width: 100%;
		top: 2.5em;
		left: 0;
		color: #fff;
		h2{
			font-size: 3.5em;
			font-weight: bolder;
		}
		p{
			font-size: 1.4em;
		}
	}
	.gh-left{
		float: left;
		text-align: left;
	}
	.gh-right{
		float: right;
		text-align: right;
	}
}