.gh-events{
	.clearfix();
	margin-right: -1em;
}
.events-item{
	float: left;
	width: 33.3333%;
	margin: 0 0 1em 0;
	.box{
		margin-right: 1em;
	}
	&:hover{
		.e-desc{
			background: @bg-color-blue;
			color: @color-base-o;
		}
		.img-hover{
			-webkit-animation:slidefromtop 200ms linear;
			-moz-animation:slidefromtop 200ms linear;
			-o-animation:slidefromtop 200ms linear;
			animation:slidefromtop 200ms linear;
			top: 0;
		}
	}
	.e-img-box{
		position: relative;
		overflow: hidden;
		img{
			.img-responsive();
		}
		.img-hover{
			position: absolute;
			top: -100%;
			left: 0;
			height: 100%;
			width: 100%;
			background: rgba(0, 0, 0, 0.5);
			color: @color-base-o;
			font-size: 0.45em;
		}
		.text{
			position: absolute;
			top: 1em;
			left: .5em;
			color: @color-base-o;
			p{
				font-size:0.6em;
			}
			h2{
				font-size: 1.5em;
				font-weight: bold;
			}
			h3{
				font-size: 1.2em;
			}
			h4{
				font-size: 1em;
				font-weight: bold;
			}
		}
	}
	.e-desc{
		.title{
			font-size: 0.9em;
			line-height: 2em;
			height:2em;
			overflow: hidden;
			font-weight: bold;
		}
		p{
			font-weight: normal;
			font-size: 0.65em;
			line-height: 1em;
			height: 2em;
			overflow: hidden;
		}
	}
}
.gh-index-flight-hr{
	position: relative;
	text-align: center;
	img{
		position: absolute;
		top: .8em;
		.img-responsive();
	}
/* 	.flight{
	position: absolute;
	left: 50%;
	margin-left: -.75em;
} */
}