.gh-index-follow{
	background: @bg-color-blue;
	color: @color-base-o;
	padding: 2em 0;
	text-align: center;
	.follow-title{
		font-size: 1em;
		font-weight: bolder;
		margin-bottom: 1.5em;
	}
	.follow-text{
		font-size: 0.65em;
		line-height: 1.5;
	}
	.follow-btn-list{
		padding:2em 0 0 0;
		a{
			display: inline-block;
			margin: 0 1em;
		}
		ul{
			.clearfix();
		}
	}
	.follow-item{
		display: inline-block;
	}
}